@font-face{
    font-family:"sf-pro";
    src: url(/s2/style/font/SF-Pro-Display-Black.otf);
}
/* windows segoe   ui */
@media  screen and (min-width :400px) {
   html{
    font-size:130%;
   } 
    
}
.div-img{
    display: flex;
    justify-content:center;
}
.img{
    margin: 10px;
    width: 100px;
    border-radius: 16px;
    box-shadow: 10px10px 10px 10px;
    height: 100px;
    filter:saturate(20% ) blur(0.5px);
}
.img:hover {
filter: blur(0);
width: 120px;
height: 120px;
box-shadow: 30px;
  
    /* clip-path: polygon(10% 45%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 45%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%); */
}
