@font-face{
    font-family:"sf-pro";
    src: url(/s2/style/font/SF-Pro-Display-Black.otf);
}
/* windows segoe   ui */
@media  screen and (min-width :400px) {
   html{
    font-size:100%;
   } 
    
}
.div-img{
    display:flex;
    justify-content:start;
}
.img{
    margin: 10px;
    width: 100px;
    border-radius: 16px;
    box-shadow: 10px10px 10px 10px;
    height: 100px;
    filter:saturate(20% ) blur(0.5px);
}
.img:hover {
filter: blur(0);
width: 120px;
height: 120px;
box-shadow: 30px;
transition:0.15s 0.15s;
  
    /* clip-path: polygon(10% 45%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 45%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%); */
}
.head{
    font-size: larger;
    display:flex;  
      text-align: justify;

}
body{
    height: 100vh;
    /* display:flex; */
  justify-content: center;
  align-items: center;
    font-family: 'Arial Narrow Bold', sans-serif;}

input[type='text'],
input[type='email']{
    border-radius: 5px;
    border: 1px solid rgb(155, 17, 135);
    padding:0.5rem  0.7rem ;
    transition: border-color 0.15s, box-shadow 0.35s;
}
input[type="text"]:focus,
input[type="email"]:focus{
    border-color:darkblue;
    box-shadow: 0 0 0 4px rgba(24, 117, 255,0.25);
    outline: 0;
}
label{
    display: block;
}
.form-group{
    margin-bottom: 1rem;
}
button{
    background-color: #0540c0;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: azure;
    font-family: cursive;
    padding: 0.5rem 0.7rem;
}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  /* :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */

  /* 1.skew()
  2.rotate()
  3.scale()
  4.translate() */
  .box{
    width: 70px;
    height: 70px;

 
  }
  .box:hover{ 
    transform:translate(-10px);
    

  }
  /* basic styles */
    *{
      box-sizing: border-box;

    }
    html{
        
    }
    h1,h2,h3{
        
    }
    .nav{
      margin: 30px;
    }
     /* form */

     /* navigation bar */
     div.nav > ul.item >li{
      
     }