*{
    display:flex;
    justify-content: center;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ;
}
/* .box{
    width: 100%px;
    border-radius: 20px;
    background-color: #343452;
} */
.h1-head{
    color: rgb(122, 74, 10);
}